body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

/* Title Section */

.container-fluid {
  padding: 3% 15%;
}

#title {
  background-color: #ff4c68;
  color: white;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem 0;
}

.nav-item {
  padding: 0 1rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.iphone-img {
  position: absolute;
  width: 60%;
  transform: rotate(20deg);
  right: 30%
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .iphone-img {
    position: static;
    transform: rotate(0deg);
  }
}

/* Features Section */

#features {
  padding: 5% 15%;
  text-align: center;
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature-box {
  padding: 5%
}

.feature-subtitle {
  font-size: 1rem;
  color: #8f8f8f;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 30px;
}

.feature-icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-img {
  border-radius: 50%;
  width: 10%;
  margin: 1.5rem;
}

.testimonial-item {
  padding: 5% 15%;
}

/* Press Section */

#press {
  padding: 5% 5%;
  text-align: center;
  background-color: #ef8172;
}

.press-icon {
  width: 15%;
  margin: 2%;
}

/* Pricing Section */

#pricing {
  text-align: center;
  padding: 5% 2%;
}

.pricing-col {
  margin-top: 3%
}

/* Call to Action Section */

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 3% 15%;
  color: white;
}

/* Footer Section */

#footer {
  text-align: center;
  padding: 3% 15%
}

.social-media-icon {
  margin: 3% 3% 3% 0
}
