body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

.container-fluid {
  padding: 3% 15%;
}

#title {
  background-color: #ff4c68;
  color: white;
}

#features {
  padding: 5% 15%;
  text-align: center;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem 0;
}

.nav-item {
  padding: 0 1rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.iphone-img {
  width: 60%;
  transform: rotate(20deg);
}

.feature-box {
  padding: 5%
}

.feature-subtitle {
  font-size: 1rem;
  color: #8f8f8f;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 30px;
}

.feature-icon:hover {
  color: #ff4c68;
}
